<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create a new task</title>
</head>
<body>
  <form action="/create_task" method="post">
    <label for="name">Task name: </label>
    <input id="name" name="name" type="text" placeholder="Task name">
    <button type="submit">Send</button>
  </form>
</body>
</html>